/* ========================= */

.home-video-container {
    position: relative !important;
}

.home-brand-title {
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1.1em;
}

.home-brand-outline {
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 4px;
}

.home-brand-description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
}

.home-news-container {
    position: relative !important;
}

.home-news-element-insert-container {
    z-index: 2;
    position: absolute !important;
    bottom: 5%;
    right: 5%;
}

/* ========================= */

.contact-parallax-bg-container {
    position: relative;

    width: 100vw;
    min-width: 155px;

    overflow: hidden;
}

.contact-parallax-bg-image {
    position: absolute;
    width: 150vw;
    height: auto;
    top: -35%;
    left: -25%;

    min-height: 384px;
    max-height: 1620px;
}

.contact-button {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border: none !important;
    background-color: rgb(124, 84, 124) !important;
    width: 16%;
    min-width: 220px;
    max-width: 550px;
    padding: 14px 0px 16px 0px !important;
}

.contact-button:hover {
    background-color: #cccccc !important;
}

.contact-button:hover .contact-button-text {
    color: black !important;
}

.contact-button-text {
    color: white !important;
    font-size: 1.2em !important;
    font-weight: bold;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    transition: color 0.3s;
    text-align: center;
}

/* ========================= */
.post-card {
    background-color: #dddddd !important;
    height: 600px !important;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    margin-bottom: 0;
}

.post-card:hover {
    transform: scale(1.12, 1.12);
    background-color: red !important;
}

.post-card:hover .svg-icon-group {
    opacity: 1;
}

.post-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100% !important;
    padding: 30px 0px 30px 0px;
}

.post-category-text {
    font-size: 0.8em;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-top: 20%;
}

.post-title-text {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 5%;
}

.post-button {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 15px;
}

/* ========================= */
@media only screen and (max-width: 992px) {
    .post-card {
        height: 300px !important;
        margin-bottom: 20px;
    }

    .post-body {
        padding: 0;
        justify-content: space-evenly;
    }

    .post-category-text {
        font-size: 0.8em;
        font-weight: normal;
        letter-spacing: 1.5px;
        margin-top: 0;
    }

    .post-title-text {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0;
    }

    .post-button {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* ========================= */

.content-absolute-title-container {
    z-index: 2;
    position: absolute !important;
    top: 30%;
    left: 10%;
}

.content-absolute-container-title-text {
    color: white;
    font-size: 4vw;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -1px -1px black -1px 1px black 1px -1px black 1px 1px black;
}

.content-absolute-container-description-text {
    color: white;
    font-size: 2.2vw;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -1px -1px black -1px 1px black 1px -1px black 1px 1px black;
}

.content-absolute-button-container {
    z-index: 2;
    position: absolute !important;
    bottom: 10%;
    right: 10%;
}

.content-absolute-button-text {
    color: #cccccc;
    font-size: 2.1vw;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

@keyframes move-button {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(30%);
    }
}

@keyframes move-button-reverse {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(0%);
    }
}

.content-explore-button {
    z-index: 2;
    margin-left: -1.4vw;
    animation: move-button-reverse 0.12s linear forwards;
}

.content-explore-button:hover {
    animation: move-button 0.12s linear forwards;
}

.content-carousel-button {
    /* Fallback if grab is not supported */
    cursor: "move";
    cursor: "grab";
}

.content-rotateable-text {
    font-size: 1.4em;
    font-weight: 400;
    white-space: nowrap;
}

/* ========================= */