/* ========================= */

.nav-panel-container {
    position: absolute;
    z-index: 3;
    top: 0px;
    width: 100%;
    border: none;
}

.nav-logo {
    filter: invert(1);
}

.nav-panel-link {
    text-decoration: none !important;
    color: #dddddd !important;
}

/* ========================= */