/* ========================= */

.registration-header {
    color: #7b8c8d !important;
}

.registration-container {
    background-color: #ecf0f1 !important;
}

.registration-form-card {
    box-shadow: 7.5px 5px 15px rgb(0, 0, 0, 0.4) !important;
}

.registration-link {
    text-decoration: none !important;
}

.registration-link:hover {
    text-decoration: underline !important;
}

/* ========================= */