/* ---------------------------------- */
/* Main Elements */

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.authentication-container {
    background-color: #ecf0f1 !important;
}

/* ---------------------------------- */
/* Socials Themes (Facebook, Google, etc.) */
.facebook-container {
    background-color: #1877f2 !important;
}

.facebook-container:hover {
    background-color: #034396 !important;
}

.google-container {
    background-color: #ffffff !important;
}

.google-container:hover {
    background-color: #dbdbdb !important;
}

/* ---------------------------------- */
/* Front Page (Middle Section) */

.banner-img {
    width: 100%;
    height: 10vw;
}

.banner-default-bg {
    background-color: #cfd9de;
}

/* ---------------------------------- */
/* Navigation Panel Elements */

.nav-panel-link {
    text-decoration: none !important;
}

.nav-panel-link:hover {
    text-decoration: underline !important;
}

/* ---------------------------------- */
/* Loaders */

#loader-container {
    position: fixed;
    background-color: rgba(0.35, 0.35, 0.35, 0.3);
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    z-index: 2000;
}

#loader {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    z-index: 1;
    width: 60px;
    height: 60px;
}

@media (max-width: 768px) {

    /* Adjust loader size for smaller screens */
    #loader {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 576px) {

    /* Further adjust loader size for even smaller screens */
    #loader {
        width: 35px;
        height: 35px;
    }
}

/* ---------------------------------- */

.input-no-highlight:focus {
    outline: none !important;
}

/* ---------------------------------- */